body {
    background-image: url('../img/fondoprin.jpg');
    background-size: cover;

  }
  
  .nav-item {
    border: 2px solid #e64141;
    border-radius: 10px;
    margin: 15px;
    padding: 10px 20px;
    background-color: white;
    font-size: 18px;
    font-family: 'Roboto';
    font-size: 30px;
}

.nav-item:hover {
    background-color: #2760fd;
}

.navbar {
    border: 2px solid #e64141;
    border-radius: 15px; /* Añadido para bordes redondeados */
    background-color: #f55aed;
    font-size: 18px;
}

.navbar-brand img {
    width: 100px;
    height: 100px;
}
  
    .pink-box {
      background-color: #ffc0cb; /* light pink */
      padding: 20px;
      border-radius: 10px;
      margin-bottom: 20px; /* Add margin at the bottom to separate from other content */
  }

.pink-box h2 {
    font-size: 55px; /* Aumenta el tamaño de la letra para h2 */
    font-weight: bold;
    text-transform: uppercase;
}

.pink-box h3 {
    font-size: 35px; /* Aumenta el tamaño de la letra para h3 */
    font-weight: bold;
}

.pink-box .text-center {
    text-align: center; /* Centra el texto */
}

.btn{
  font-size: 30px;
  color: #fffdfd;
  background-color: #31beff;
}