body {
    background-image: url('../img/fondoprin.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .nav-item {
      border: 2px solid #e64141;
      border-radius: 10px;
      margin: 0 15px;
      padding: 10px 20px;
      background-color: white;
      font-size: 18px;
      font-family: 'Roboto';
      font-size: 30px;
    }
  
    .nav-item:hover {
      background-color: #2760fd;
    }
  
    .navbar {
      border: 2px solid #e64141;
  
      background-color: #f55aed;
      font-size: 18px;
      
    }
    
    .navbar-brand img {
      width: 100px;
      height: 100px;
    }
  