body {
    background-image: url('../img/fondoprin.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .nav-item {
    border: 2px solid #e64141;
    border-radius: 10px;
    margin: 15px;
    padding: 10px 20px;
    background-color: white;
    font-size: 18px;
    font-family: 'Roboto';
    font-size: 30px;
}

.nav-item:hover {
    background-color: #2760fd;
}

.navbar {
    border: 2px solid #e64141;
    border-radius: 15px; /* Añadido para bordes redondeados */
    background-color: #f55aed;
    font-size: 18px;
}

.navbar-brand img {
    width: 100px;
    height: 100px;
}


  .custom-card {
    background: linear-gradient(white, #ffe6e6);
    border: 2px solid #ffcccc;
    border-radius: 15px;
}
.custom-card-header {
    background-color: #ffcccc;
    border-bottom: 2px solid #ff9999;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.custom-card-header h4 {
    color: #990000;
}
.highlight-text {
    color: #fc3096;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: auto;
}