body {
    background-image: url('../img/fondoprin.jpg');
    background-size: cover;
  
  }
  
  .nav-item {
    border: 2px solid #e64141;
    border-radius: 10px;
    margin: 15px;
    padding: 10px 20px;
    background-color: white;
    font-size: 18px;
    font-family: 'Roboto';
    font-size: 30px;
}

.nav-item:hover {
    background-color: #2760fd;
}

.navbar {
    border: 2px solid #e64141;
    border-radius: 15px; /* Añadido para bordes redondeados */
    background-color: #f55aed;
    font-size: 18px;
}

.navbar-brand img {
    width: 100px;
    height: 100px;
}



.form-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ffdeee;
}
.form-container .mb-4 {
    margin-bottom: 1.5rem;
}